#prompt {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 8px;
    width: 10%;
    border: 2px solid beige;
    background-color: 	#212129;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212129;
}

#grid {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid beige;
}

#rainbowbutton {
    margin-top: 12px;
    height: 125px;
    width: 125px;
    background: conic-gradient(
        red,
        orange,
        yellow,
        lightgreen,
        blue,
        purple,
        red
    );
    border-radius: 50%;
    border: 20px double beige;
}